* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: sans-serif;
    padding: 20px 0px 0;
}


.head {
    background-color: #101010;
    height: 66px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;

}

.nav-link {
    color: #fff;
    text-decoration: none;

}

.logo {

    padding: 0 40px;
    background-image: url(/ESCUDO-1080x1080.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    margin: 5px 30px;
    align-items: center;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 66px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-item:hover {
    background-color: #3f3f3f;
    border-radius: 5px;
    transition: 0.2s;
}

.nav-toogle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 66px;
    display: none;
}

/*
.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}



.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}


.logo .curso {
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: sans-serif !important;
    font-weight: 100;

}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
}
*/


main {
    padding-top: 40px;

}



.header {

    justify-content: center;
    align-items: center;
    height: 50vh !important;
    background: url(pistas.jpg) no-repeat center;
    background-size: contain;
    background-repeat: repeat;

}

.title {
    padding: 30px;
    display: block;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-text-stroke: 4px rgb(253, 250, 255);
    color: #feffff;
    text-shadow: 0 0 1px #50abd4,
        0 0 0px #50abd4,
        0 0 80px #50abd4;
    /*background-color: #1010105b;*/
    border-radius: 10px;
}


.title2 {

    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-text-stroke: 4px rgb(253, 250, 255);
    color: #feffff;
    text-shadow: 0 0 1px #50abd4,
        0 0 0px #50abd4,
        0 0 80px #50abd4;
    text-align: center;

}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
    text-align: center;
    font-size: 20px;
}

#frase {
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
    font-weight: 500;
    background-color: #10101044;

    color: #fd0dfd solid;
    text-shadow: 0 0 10px #a945c7,
        0 0 40px #a945c7,
        0 0 80px #910aff;

}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
    font-size: 30px;
}

.btn:hover {

    box-shadow: 0 0 10px #a945c7,
        0 0 40px #a945c7,
        0 0 80px #910aff;
    transition: 0.8s;

}

.btn-home {
    display: block;
    padding-top: 50px;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: block;
    flex-direction: column;
    justify-content: center;

}

.sau {
    padding: 30px;
    background: #1f1d1d
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    display: block;
    height: 10rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;

}

.sub {
    margin: 35%;
    color: white;
}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    padding: 40px;
    display: block;
    background: #171717;
}



.title3 {

    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-text-stroke: 4px rgb(253, 250, 255);
    color: #feffff;
    text-shadow: 0 0 1px #50abd4,
        0 0 0px #50abd4,
        0 0 80px #50abd4;
    text-align: center;

}


.end {
    align-items: center;
    display: block;
    padding: 10px 30px;
    margin: 0px;
    height: 200px;
    width: 100%;
    color: #9c27b0;
    text-shadow: 0 0 10px #a945c7,
        0 0 40px #a945c7,
        0 0 80px #910aff;
    line-height: 30px;
    background: #1f1d1d;

}

.end .ended {
    display: block;
    text-align: center;
    font-size: 17px;
    list-style: none;
    max-width: max-content;
}


.escudo {
    display: flex;
    margin: 10px 115px;

    height: 100px;
    width: 100px;
    background-image: url(/ESCUDO\ 1080x1080.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 0 44%;
}









/***********************************************/





@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        text-decoration: none;
        box-sizing: border-box;
    }



    body {
        text-align: center;
        font-family: sans-serif;
        padding: 20px 0px 0;
    }


    .head {
        background-color: #101010;
        height: 66px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }

    .nav {
        display: flex;
        justify-content: space-between;

    }

    .nav-link {
        color: #fff;
        text-decoration: none;

    }

    .logo {
        height: max-content;
        font-size: 30px;
        font-weight: bold;
        padding: 5px 40px;
        background-image: url(/ESCUDO-1080x1080.png);
        background-size: 35px 35px;
        background-repeat: no-repeat;
        margin: 10px 20px;
        align-items: center;
    }

    .nav-menu {
        display: none;
        margin-right: 40px;
        list-style: noe;
    }

    .nav-menu-item {
        font-size: 18px;
        margin: 0 10px;
        line-height: 66px;
        text-transform: uppercase;
        width: max-content;
    }

    .nav-menu-item:hover {
        background-color: #3f3f3f;
        border-radius: 5px;
        transition: 0.2s;
    }

    .nav-toogle {
        left: 0;
        top: 0;
        color: white;
        background: none;
        border: none;
        font-size: 30px;
        padding: 2px 20px;
        margin: 15px 15px;
        line-height: 66px;
        display: flex;
        pointer-events: visiblePainted;
    }

    /*
    .navbar {
        display: flex;
        margin-right: 10px;
    }
    
    .logo {
        margin-left: 30px;
    }
    
    
    
    .logo a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    
    .logo .curso {
        position: relative;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        font-family: sans-serif !important;
        font-weight: 100;
    
    }
    
    .navbar a {
        display: block;
        padding: 20px 20px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    .navbar a:hover {
        background: #3f3f3f;
    }
    */


    main {
        padding-top: 40px;

    }



    .header {

        justify-content: center;
        align-items: center;
        height: 40vh !important;
        background: url(pistas.jpg) no-repeat center;
        background-size: contain;
        background-repeat: repeat;

    }

    .title {
        padding: 30px;
        display: block;
        font-size: 35px;
        font-weight: 100;
        text-transform: uppercase;
        -webkit-text-stroke: 4px rgb(253, 250, 255);
        color: #feffff;
        text-shadow: 0 0 1px #50abd4,
            0 0 0px #50abd4,
            0 0 80px #50abd4;
        /*background-color: #1010105b;*/
        border-radius: 10px;
    }


    .title2 {

        margin-bottom: 40px;
        font-size: 35px;
        font-weight: 100;
        text-transform: uppercase;
        -webkit-text-stroke: 4px rgb(253, 250, 255);
        color: #feffff;
        text-shadow: 0 0 1px #50abd4,
            0 0 0px #50abd4,
            0 0 80px #50abd4;
        text-align: center;

    }

    p {
        margin-bottom: 40px;
        font-size: 18px;
        color: #fff;
        padding: 0 30px;
        text-align: center;
        font-size: 15px;
    }

    #frase {

        text-align: center;
        margin: 7px 0px;
        font-size: 20px;
        background-color: #10101044;

        color: #fd0dfd solid;
        text-shadow: 0 0 10px #a945c7,
            0 0 40px #a945c7,
            0 0 80px #910aff;

    }

    .btn {
        display: inline-block;
        margin-top: 15px;
        padding: 10px 40px;
        border: 2px solid #9c27b0;
        color: #fff;
        text-decoration: none;
        background: #9c27b0;
        font-size: 30px;
    }

    .btn:hover {

        box-shadow: 0 0 10px #a945c7,
            0 0 40px #a945c7,
            0 0 80px #910aff;
        transition: 0.8s;

    }

    .btn-home {
        display: block;
        padding-top: 50px;
    }

    .btn-home a {
        margin: 0 10px;
    }


    .content {
        height: 50vh;
        width: 100%;
        display: block;
        flex-direction: column;
        text-align: center;

    }

    .content2 {
        height: 140vh;
        display: block;
        flex-direction: column;
        justify-content: center;

    }

    .content4 {
        height: 70vh;
        display: block;
        flex-direction: column;
        justify-content: center;

    }


    .sau {
        padding: 30px;
        background: #1f1d1d
    }

    .box-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;

    }

    .box-container .box {
        display: block;
        height: 10rem;
        width: 17rem;
        background: #101010;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
        margin: 2rem;
    }

    .box-container .box i {
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        background: #9c27b0;
        font-size: 2rem;
        margin: 1rem 0;

    }

    .sub {
        margin: 35%;
        color: white;
    }

    .box-container .box h3 {
        font-size: 20px;
        color: #9c27b0;

    }

    .box-container .box p {
        padding: 0 15px;
        font-size: 16px;
    }

    .about {
        padding: 10px;
        display: block;
        background: #171717;
    }




    .title3 {

        display: block;
        font-size: 35px;
        font-weight: 100;
        text-transform: uppercase;
        -webkit-text-stroke: 4px rgb(253, 250, 255);
        color: #feffff;
        text-shadow: 0 0 1px #50abd4,
            0 0 0px #50abd4,
            0 0 80px #50abd4;
        /*background-color: #1010105b;*/

        width: 100%;

    }






    .end {
        align-items: center;
        display: block;
        left: 0;
        right: 0;
        padding: 10px;
        margin: 0px;
        height: 200px;
        width: 100%;
        color: #9c27b0;
        text-shadow: 0 0 10px #a945c7,
            0 0 40px #a945c7,
            0 0 80px #910aff;
        ;
        line-height: 30px;
        background: #1f1d1d;

    }

    .end .ended {
        display: block;
        text-align: center;
        font-size: 17px;
        list-style: none;
        max-width: max-content;
    }


    .escudo {
        margin: 10px 115px;

        height: 100px;
        width: 100px;
        background-image: url(/ESCUDO\ 1080x1080.png);
        background-size: contain;
    }
}